<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Item
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!editable" color="text" (click)="setEditable(true)" ion-button icon-only>
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="item">
  <form id="item-form">
    <ion-item id="item-input-name">
      <ion-label class="label">
        Name
      </ion-label>
      <ion-input [(ngModel)]="item.name" [ngModelOptions]="{standalone:true}" [readonly]="!getEditable()" color="secondary-text" type="text" placeholder=""></ion-input>
    </ion-item>
    <p *ngIf="nameMissing" ion-text color="danger">Name is required.</p>
    <ion-item id="item-input-quantity">
      <ion-label class="label">
        Quantity
      </ion-label>
      <ion-input [(ngModel)]="item.quantity" [ngModelOptions]="{standalone:true}" [readonly]="!getEditable()" color="secondary-text" type="number" placeholder=""></ion-input>
    </ion-item>
    <p *ngIf="quantityMissing" ion-text color="danger">Quantity is required.</p>
    <ion-item id="item-input-price">
      <ion-label class="label">
        Price
      </ion-label>
      <ion-input [(ngModel)]="item.price" [ngModelOptions]="{standalone:true}" [readonly]="!getEditable()" color="secondary-text" type="number" placeholder=""></ion-input>
    </ion-item>
    <p *ngIf="priceMissing" ion-text color="danger">Price is required.</p>
    <ion-item id="item-input-location">
      <ion-label class="label">
        Location
      </ion-label>
      <ion-input [(ngModel)]="item.location" [ngModelOptions]="{standalone:true}" [readonly]="!getEditable()" color="secondary-text" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item id="item-textarea-notes">
      <ion-label class="label">
        Notes
      </ion-label>
      <ion-textarea [(ngModel)]="item.notes" [ngModelOptions]="{standalone:true}" autoresize class="textarea" [readonly]="!getEditable()" color="secondary-text" placeholder=""></ion-textarea>
    </ion-item>
    <br>
    <button *ngIf="editable && !newItem" id="item-button-save" ion-button color="accent" block on-click="save()">
      Save
    </button>
    <button *ngIf="editable && newItem" id="item-button-create" ion-button color="accent" block on-click="create()">
      Create
    </button>
    <br>
    <button *ngIf="editable && !newItem" id="item-button-delete" ion-button color="danger" block on-click="confirmDelete()">
      Delete
    </button>
  </form>
</ion-content>